* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 18px;
  background-color: #F0F0F0;
  font-family: sans-serif;
  height: 100%;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.91);
  border-bottom: 1px solid #9e9e9e;
  z-index: 1;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  margin: 10px;
  display: inline-block;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 30px;
}

main {
  padding: 85px 15px 75px 15px;
  position: relative;
  min-height: 100%;
  margin-bottom: -57px;
}

section {
  background-color: white;
  border-radius: 5px;
  width: 80%;
  margin: auto;
  padding: 15px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

form {
  display: flex;
}

section > p {
  text-align: center;
  font-size: 24px;
}

form > input {
  width: 90%;
  height: 34px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #9e9e9e;
  color: grey;
}

form > button {
  height: 34px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #9e9e9e;
  font-size: 16px;
  margin-left: 4px;
  outline: none;
}

button:hover {
  background-color: #9e9e9e;
  cursor: pointer;
  color: white;
}

table {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #9e9e9e;
}

div.results > div:nth-child(1) {
  display: flex;
  justify-content: center;
  padding: 10px;
}

div.results > div:nth-child(2) {
  border-bottom: 2px solid grey;
  text-align: center;
  font-weight: 600;
}

footer {
  background-color: grey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0px;
}

footer a {
  margin-left: 15px;
}

footer i {
  transform: scale(1.3);
  color: white;
}

.searchCont {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 16px;
}

.resultsCont {
  padding: 0;
}

.imgCont {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid grey;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #F0F0F0; 
  border: 1px solid grey;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
}

.userInfo p {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

#upButton {
  transform: scale(1.5);
  margin-right: 30px;
}

#usersImg {
  width: 150px;
  height: 150px;
}

#errorCont {
  text-align: center;
  background: #ef788c;
  border-radius: 5px;
  width: 100%;
}

/*Xsmall devices*/

@media (max-width: 575px) {

  h1 {
    font-size: 20px;
  }

  section {
    margin: 0;
    width: 100%;
  }

  section > p {
    font-size: 19px;
  }

  .resultsCont {
    width: 100%;
  }

  #resultsList td:nth-child(2) {
    width: 30%;
    font-size: 16px;
  }

}

/*small devices*/

@media (min-width: 576px) and (max-width: 768px) {

}
  


/*medium devices*/

@media (min-width: 769px) and (max-width: 992px) {

}
  

/*large devices*/

@media (min-width: 993px) {

}


